<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>中国工商银行-转账</title>
</head>
<body>
<h1>中国工商银行-转账</h1>
<form action="" method="post">
    <table>
        <tbody>
            <tr>
                <td>转给：</td>
                <td><input type="text" name="email"></td>
            </tr>
            <tr>
                <td>金额：</td>
                <td><input type="text" name="money"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="确认提交"></td>
            </tr>
        </tbody>
    </table>
</form>
</body>
</html>